body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--font-color);
    line-height: var(--line-height);
}
input, select, textarea, button {
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--font-color);
    line-height: var(--line-height);
    background-color: #fff;
    border: 1px solid var(--form-border);
}
input::-webkit-input-placeholder {
    color: #9B9FA0;
    font-weight: 400;
}
input::-moz-placeholder {
    color: #9B9FA0;
    font-weight: 400;
}
input:-ms-input-placeholder {
    color: #9B9FA0;
    font-weight: 400;
}
input::-ms-input-placeholder {
    color: #9B9FA0;
    font-weight: 400;
}
input::placeholder {
    color: #9B9FA0;
    font-weight: 400;
}
.btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transition: color .15s var(--easing), 
                background-color .15s var(--easing), 
                border-color .15s var(--easing), 
                -webkit-box-shadow .15s var(--easing);
    transition: color .15s var(--easing), 
                background-color .15s var(--easing), 
                border-color .15s var(--easing), 
                -webkit-box-shadow .15s var(--easing);
    -o-transition: color .15s var(--easing), 
                background-color .15s var(--easing), 
                border-color .15s var(--easing), 
                box-shadow .15s var(--easing);
    transition: color .15s var(--easing), 
                background-color .15s var(--easing), 
                border-color .15s var(--easing), 
                box-shadow .15s var(--easing);
    transition: color .15s var(--easing), 
                background-color .15s var(--easing), 
                border-color .15s var(--easing), 
                box-shadow .15s var(--easing), 
                -webkit-box-shadow .15s var(--easing);
    cursor: pointer;
}
.btn.icon {
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
}
.btn.icon.print {
    background-image: url(../images/icon/print.svg);
    background-size: 27px 24px;
}
.btn.icon.download {
    background-image: url(../images/icon/download.svg);
    background-size: 24px 24px;
}
/* 스크롤바 */
::-webkit-scrollbar {
    width: 6px; 
    height: 6px; 
}
::-webkit-scrollbar-track {
    background: #DDDDDD; 
    border-radius: 0px; 
}
::-webkit-scrollbar-thumb {
    background: #9B9FA0; 
    border-radius: 0px;
}
#wrap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #F4F6F6;
    min-height: 100svh;
    max-height: 100svh;
    overflow: hidden;
}
.primary {
    color: var(--primary);
}
.text-center {
    text-align: center !important;
}
.text-right {
    text-align: right !important;
}

/* ================================================== */
/* 사이드 메뉴 */
/* ================================================== */
#sideMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 340px;
            flex: 0 0 340px;
    min-width: 340px;
    max-height: 100svh;
    background-color: #fff;
    padding: var(--space);
}
#sideMenu > .fixed-section {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
}
#sideMenu > .result-section {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
#sideMenu .logo {
    text-align: center;
    padding: 0 0 var(--space);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.datepicker-section .title {
    padding: 0.5em;
    background-color: var(--primary);
    border-radius: var(--radius) var(--radius) 0 0;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

/* datepicker override  { */
#datepickerDent .ui-datepicker {
    width: 100%;
    padding: 0 5px;
    border: 1px solid #DDDDDD;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.ui-datepicker .ui-state-highlight.ui-state-active {
    background: #ff9900 !important; /* 선택된 오늘 날짜 배경색 */
    border-radius: 50% !important;
    color: #fff !important;
}
#datepickerDent .ui-datepicker-header {
    margin-left: -5px;
    margin-right: -5px;
}
#datepickerDent .ui-datepicker select.ui-datepicker-month, 
#datepickerDent .ui-datepicker select.ui-datepicker-year {
    width: auto;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; 
    background-color: transparent;
    background-image: url('../images/icon/select-arrow.svg'); 
    background-repeat: no-repeat;
    background-position: right 2px center;
    background-size: 12px;
    padding-right: 16px; 
    border: 0;
    font-weight: 500;
}
#datepickerDent .ui-datepicker select.ui-datepicker-month {
    margin-left: var(--space)
}
#datepickerDent .ui-datepicker th {
    font-weight: 400;
}
#datepickerDent .ui-datepicker td {
    padding: 2px 5px;
}
#datepickerDent .ui-datepicker td span, 
#datepickerDent .ui-datepicker td a {
    line-height: 27px;
    padding: 0 0 1px;
    text-align: center;
    border-radius: 100%;
}
#datepickerDent .ui-priority-secondary, .ui-widget-content .ui-priority-secondary {
    opacity: 1;
    color: #D5D5D5
}
/* } datepicker override */

.search-section {
    background-color: var(--form-bg);
    border-radius: 0 0 var(--radius) var(--radius);
    padding: var(--space);
    border-bottom: 4px solid var(--primary);
    text-align: center;
}
.search-section .total-num {
    display: block;
    font-size: var(--font-h1);
    font-weight: 700;
    color: var(--primary);
    margin-top: 5px;
    margin-bottom: 5px;
}
.search-section .search-input {
    padding: 8px 50px 10px 20px;
    border-radius: 50em;
    background-image: url('../images/icon/search.svg'); 
    background-repeat: no-repeat;
    background-position: right 15px center;
}
.result-section {
    margin-top: var(--space);
    overflow-y: auto;
    overflow-x: hidden;
}
.result-section .result-list {
    border-bottom: 1px solid var(--form-border)
}
.result-section .result-item {
    border-top: 1px solid var(--form-border)
}
.result-item .accord-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 12px 20px;
    font-weight: 500;
    cursor: pointer;
}
.result-item .accord-head:hover {
    background-color: var(--form-bg);
}
.result-item .isDent {
    color: var(--primary)
}
.result-item .isDent .icon {
    fill: var(--primary)
}
.result-item .accord-body {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.3s var(--easing);
    -o-transition: max-height 0.3s var(--easing);
    transition: max-height 0.3s var(--easing);
}
.accord-item.active .accord-head .icon {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}
.accord-item.active .accord-body {
    max-height: 200px; 
}
.accord-item .parts-list {
    padding: 10px 10px 10px 40px;
    border-top: 1px dashed var(--form-border);
}
.parts-list > li {
    cursor: pointer;
}
.parts-list > li:hover {
    text-decoration: underline;
}
.parts-list > li + li {
    margin-top: 5px;
}

/* ================================================== */
/* 메인 컨텐츠 */
/* ================================================== */
#content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 80px var(--space2) var(--space2);
    overflow: auto;
}
#content > .__inner {
    position: relative;
    /* min-width: 1190px; */
    max-width: 1500px;
    margin: 0 auto;
}
.top-handle-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    position: absolute;
    top: -50px;
    right: 0;
}
.top-handle-menu .btn.icon {
    background-color: transparent;
    border: 0;
}
.main-pannel {
    background-color: #fff;
    border-radius: var(--radius) var(--radius) 0 0;
    overflow: hidden;
}
.main-pannel > .pannel-title {
    background-color: var(--black);
    padding: 12px;
    text-align: center;
    font-size: var(--font-h1);
    font-weight: 700;
    color: #fff;
}
.main-pannel .pannel-content {
    padding: var(--space2);
}
.summary-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: var(--space);
}
.summary-list > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 100px;
    background-color: #FCE7DA;
    border-radius: var(--radius);
    text-align: center;
    font-size: var(--font-h2);
}
.summary-list .summary-item dd {
    margin-top: 5px;
    font-weight: 700;
}
.dent-total {
    margin-top: var(--space2)
}
.dent-total > .title {
    height: 40px;
    line-height: 40px;
    padding-left: var(--space);
    background: url(../images/title-bg.png) left top no-repeat;
    font-size: var(--font-h3);
    font-weight: 700;
    color: #fff;
    border-bottom: 4px solid var(--primary);
}
.table {
    --table-border: 1px solid var(--form-border);


    table-layout: fixed;
    width: 100%;
    background-color: #fff;
    border-top: var(--table-border);
}
.table th, .table td {
    padding: 7.5px;
    border-bottom: var(--table-border);
    border-right: var(--table-border);
    text-align: center;
}
.table th:last-child,
.table td:last-child {
    border-right: 0;
}
.table th {
    background-color: var(--form-bg);
}
.vehicle-wrap {
    --table-width: 300px;

    position: relative;
    max-width: 1216px;
    height: 432px;
    padding: 0 calc(var(--table-width) + 10px);
    margin: 50px auto 0;
}
.vehicle-wrap .__vehicle-bg {
    width: 100%;
    height: 100%;
    background: url(../images/vehicleFloorPlan.png) no-repeat center / contain; 
}
.dent-table-box {
    position: absolute;
    width: var(--table-width);
}
.dent-table-box.A {
    top: 17px;
    left: 0;
}
.dent-table-box.B {
    left: 0;
    bottom: 17px;
}
.dent-table-box.C {
    top: 17px;
    right: 0;
}
.dent-table-box.D {
    right: 0;
    bottom: 17px;
}
.dent-table-box > .title {
    --bg-color: #7E7E7E;

    position: relative;
    width: 90%;
    background-color: var(--bg-color);
    padding: 6px;
    text-align: center;
    font-size: var(--font-h3);
    font-weight: 700;
    color: #fff;
}
.dent-table-box > .title::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 39px solid var(--bg-color);
}
.dent-table-box.A > .title,
.dent-table-box.B > .title {
    border-top-left-radius: var(--radius);
}
.dent-table-box.A > .title::after,
.dent-table-box.B > .title::after {
    right: -30px;
}
.dent-table-box.C > .title,
.dent-table-box.D > .title {
    margin-left: auto;
    border-top-right-radius: var(--radius);
}
.dent-table-box.C > .title::after,
.dent-table-box.D > .title::after {
    left: -30px;
}
.dent-table-box .table th, 
.dent-table-box .table td {
    padding: 5.5px;
}

/* ================================================== */
/* 팝업 */
/* html 사용법
    <div class="popup-wrap">
        <div class="popup-container">
            <div class="popup-content">
                <div class="popup-head">
                    ...
                    <button type="button" class="btn icon btn-close" title="닫기"></button>
                </div>
                <div class="popup-body">
                    ...
                </div>
            </div>
        </div>
    </div>
*/
/* ================================================== */
.popup-wrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0,0,0,0.5);
}
.popup-wrap.open {
    display: block;
}
.popup-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
}
.popup-content {
    max-width: 920px;
    background-color: #fff;
    border-radius: var(--radius);
    overflow: hidden; 
}
.popup-content .popup-head {
    position: relative;
    padding: var(--space);
    background-color: var(--black);
    font-size: var(--font-h2);
    color: #fff;
}
.popup-head .title-text > span + span {
    position: relative;
    margin-left: var(--space);
    padding-left: var(--space)
}
.popup-head .title-text > span + span::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 1px;
    height: 14px;
    background-color: #fff;
    opacity: 0.5;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
.popup-head .title-text .part {
    font-weight: 700;
    color: var(--primary);
}
.popup-head .btn-close {
    position: absolute;
    top: 50%;
    right: var(--space);
    width: 40px;
    height: 40px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background-color: transparent;
    background-image: url(../images/icon/close.svg);
    background-size: 20px 20px;
    border: 0;
}
.popup-content .popup-body {
    padding: var(--space);
}

/* ================================================== */
/* 프린트 */
/* ================================================== */
.print-content {
    display: none;
}
.print-img-download {
    opacity: 0;
    background: url(../images/icon/print.png) no-repeat center / 90px 78px;
}
/* A4 크기를 지정 (210mm x 297mm) */
@page {
    size: A4; 
    margin: 10mm 5mm 0; 
}
@media print {
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
    html, body {
        width: 210mm; 
        height: 297mm;
        margin: 0;
        padding: 0;
    }
    body {
        color: var(--font-color);
    }
    #wrap, .no-print {
        display: none;
    }
    .print-content {
        --form-bg: #EBEBEB;

        display: block;
        position: relative;
        page-break-inside: avoid;
        page-break-after: avoid;
    }
    .print-wrap .print-title {
        font-weight: 700;
        font-size: var(--font-h1);
        text-align: center;
    }
    .print-wrap .logo {
        position: absolute;
        top: 0;
        left: 0;
        width: 90px;
        height: 54px;
        background: url(../images/icon/print.png) no-repeat 0px -23px / 90px 78px;
    }
    .logoImg {
        width: 66px;
        height: 40px;
    }
    .print-wrap .total-box {
        margin-top: 60px;
    }
    .print-wrap .total-box .table th {
        background-color: #D9D9D9;
    }
    .print-wrap .container {
        max-width: 708px;
        margin: 0 auto;
        font-size: 12px;
    }
    .print-wrap .vehicle-wrap {
        --table-width: 134px;
    
        height: 400px;
        margin-top: 40px;
        padding: 70px calc(var(--table-width) + 50px) 0;
    }
    .print-wrap .vehicle-wrap > .title {
        position: absolute;
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 3px;
        padding: 0 10px 5px;
        border-bottom: 3px solid #7E7E7E;
        font-size: 16px;
        font-weight: 700;
    }
    .icon-vehicle {
        display: inline-block;
        width: 22px;
        height: 22px;
        background: url(../images/icon/print.png) no-repeat -1px 1px / 90px 78px;
    }
    .print-wrap .dent-table-box > .title {
        width: 100%;
        background: none;
        padding: 0 0 6px;
        font-size: 12px;
        color: var(--font-color);
    }
    .print-wrap .dent-table-box > .title::after {
        top: 3px;
        width: 17px;
        height: 15px;
        background: url(../images/icon/print.png) no-repeat -26px -4px / 90px 78px;
        border: 0;
    }
    .print-wrap .dent-table-box.A > .title, 
    .print-wrap .dent-table-box.B > .title {
        text-align: right;
        padding-right: 20px;
    }
    .print-wrap .dent-table-box.A > .title::after, 
    .print-wrap .dent-table-box.B > .title::after {
        right: 0px;
    }
    .print-wrap .dent-table-box.C > .title, 
    .print-wrap .dent-table-box.D > .title {
        text-align: left;
        padding-left: 20px;
    }
    .print-wrap .dent-table-box.C > .title::after, 
    .print-wrap .dent-table-box.D > .title::after {
        left: 0px;
        -webkit-transform: rotate(-180deg);
            -ms-transform: rotate(-180deg);
                transform: rotate(-180deg)
    }
    .table-round {
        border: 1px solid rgba(11, 13, 17, 0.2);
        border-radius: var(--radius);
        overflow: hidden;
    }
    .print-wrap .table {
        --table-border: 1px solid rgba(11, 13, 17, 0.2);
    }
    .table-round .table {
        border-top: 0;
    }
    .table-round .table tr:last-child th,
    .table-round .table tr:last-child td {
        border-bottom: 0;
    }
    .table.table-dashed th, .table.table-dashed td {
        border-style: dashed;
    }
    .table.table-dashed th {
        border-right: 0;
        background-color: #EBEBEB;
    }
    .table.table-dashed thead th + th {
        position: relative;
    }
    .table.table-dashed thead th + th::after {
        content: '';
        position: absolute;
        top: 50%;
        left: -1px;
        width: 1px;
        height: 13px;
        background-color: rgba(11, 13, 17, 0.2);
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
    }
    .print-wrap .dent-table-box .table th, 
    .print-wrap .dent-table-box .table td {
        padding: 7px 5.5px;
    }
    .print-wrap .dent-table-box.A,
    .print-wrap .dent-table-box.C {
        top: 60px;
    }
    .print-wrap .dent-table-box.B,
    .print-wrap .dent-table-box.D {
        bottom: 0px;
    }
    .title-square {
        position: relative;
        padding-left: 1.2em;
        margin-bottom: 6px;
        font-size: 14px;
        font-weight: 700;
    }
    .title-square::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 5px;
        width: 6px;
        height: 6px;
        background-color: currentColor;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
    }
    .print-wrap .dent-total,
    .print-wrap .other-matter {
        margin-top: 30px;
    }
    .other-matter .table-round {
        height: 80px;
    }
    .sign-form {
        margin-top: 40px;
        font-size: 12px;
    }
    .sign-form .title {
        position: relative;
        padding-left: 1.5em;
        margin-bottom: 6px;
        font-weight: 500;
    }
    .sign-form .title::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0px;
        width: 1.5em;
        height: 1.5em;
        background: url(../images/icon/print.png) no-repeat -49px -1px / 90px 78px;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
    }
    .sign-form ul {
        padding-left: 1.5em;
        font-size: 0.9em;
        line-height: 1.6;
    }
    .sign-form .sign-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-top: 40px;
        padding-bottom: 1em;
        border-bottom: 1px solid rgba(11, 13, 17, 0.2);
    }
    .sign-form .sign-box > span {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 33.333%;
                flex: 1 1 33.333%;
        text-align: center;
    }
    .sign-form .sign-box > .text-right {
        padding-right: 4em;
    }
    .sign-form .sign-box .__date > span {
        display: inline-block;
        padding-left: 0.7em;
        padding-right: 0.5em;
    }
}