<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dent 자동분석 시스템</title>
    <!-- DatePicker 및 스타일 시트 -->
    <link rel="stylesheet" href="../static/vendor/jquery-ui-datepicker/jquery-ui.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <script src="../static/vendor/jquery-3.7.1.min.js"></script>
    <script src="../static/vendor/jquery-ui-datepicker/jquery-ui.min.js"></script>
</head>
<body>
<!-- 메인 페이지 -->
<div id="wrap">
    <!-- Sidebar -->
    {% block sidebar %}{% include 'sidebar.html' %}{% endblock %}

    <!-- Main Content -->
    <main id="content">
        {% block content %}{% include 'main.html' %}{% endblock %}
    </main>
</div>

<!-- PopUp -->
{% block popup %}{% include 'popup.html' %}{% endblock %}
<!-- Print -->
{% block print %}{% include 'print.html' %}{% endblock %}

<!-- Module -->
<script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>