
<!-- MainView -->
<div class="__inner">
            <!-- 상단 버튼 -->
            <ul class="top-handle-menu">
                <!--                <li>-->
                <!--                    &lt;!&ndash; 결과 다운로드 버튼 &ndash;&gt;-->
                <!--                    <button id="downloadResult" class="btn icon download" title="파일 저장"></button>-->
                <!--                </li>-->
                <li>
                    <!-- 결과 인쇄 버튼 -->
                    <button id="printResult" class="btn icon print" title="인쇄"></button>
                </li>
            </ul>
            <!-- 메인 패널 -->
            <div class="main-pannel">
                <h3 class="pannel-title">차량 덴트 분석 결과</h3>
                <div class="pannel-content">
                    <!-- 차량 요약 정보 -->
                    <ul class="summary-list">
                        <li class="summary-item">
                            <dl>
                                <dt>차량 번호</dt>
                                <dd></dd>
                            </dl>
                        </li>
                        <li class="summary-item">
                            <dl>
                                <dt>입차 일시</dt>
                                <dd></dd>
                            </dl>
                        </li>
                        <li class="summary-item">
                            <dl>
                                <dt>분석 일시</dt>
                                <dd></dd>
                            </dl>
                        </li>
                    </ul>
                    <!-- 덴트 분석 수량 -->
                    <div class="dent-total">
                        <h4 class="title">전체 덴트 수량</h4>
                        <table class="table">
                            <colgroup>
                                <col width="25%">
                                <col width="25%">
                                <col width="25%">
                                <col width="25%">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>구분</th>
                                <td>덴트</td>
                                <td>스크래치</td>
                                <td>데미지</td>
                            </tr>
                            <tr>
                                <th>수량</th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- 각 위치별 덴트 테이블 -->
                    <article class="vehicle-wrap">
                        <div class="__vehicle-bg"></div>
                        <!-- A 좌측 -->
                        <div class="dent-table-box A">
                            <h4 class="title">A 좌측</h4>
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>구분</th>
                                    <th>수량</th>
                                </tr>
                                <tr>
                                    <td>덴트</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>스크래치</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>데미지</td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- B 본넷 -->
                        <div class="dent-table-box B">
                            <h4 class="title">B 본넷</h4>
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>구분</th>
                                    <th>수량</th>
                                </tr>
                                <tr>
                                    <td>덴트</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>스크래치</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>데미지</td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- C 우측 -->
                        <div class="dent-table-box C">
                            <h4 class="title">C 우측</h4>
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>구분</th>
                                    <th>수량</th>
                                </tr>
                                <tr>
                                    <td>덴트</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>스크래치</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>데미지</td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- D 트렁크 -->
                        <div class="dent-table-box D">
                            <h4 class="title">D 트렁크(테일 게이트)</h4>
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>구분</th>
                                    <th>수량</th>
                                </tr>
                                <tr>
                                    <td>덴트</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>스크래치</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>데미지</td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </article>
                </div>
            </div>
        </div>

