
<!-- VideoPop -->
<article id="vehicleVideoPop" class="popup-wrap">
    <div class="popup-container">
        <div class="popup-content">
            <div class="popup-head">
                <p class="title-text">데이터가 없습니다.</p>
                <button type="button" class="btn icon btn-close" title="닫기"></button>
            </div>
            <div class="popup-body">
                <video class="vehicle-video" controls src="" type="video/webm">동영상을 지원하지 않는 브라우저입니다.</video>
            </div>
        </div>
    </div>
</article>
