
<!-- PrintView -->
<article id="printView" class="print-wrap">
    <div class="print-img-download no-print"></div>
    <div class="print-content">
        <h1 class="logo"></h1>
        <h2 class="print-title">차량 덴트 분석 결과</h2>
        <div class="total-box">
            <table class="table">
                <colgroup>
                    <col width="15%">
                    <col width="15%">
                    <col width="15%">
                    <col width="auto">
                    <col width="auto">
                </colgroup>
                <thead>
                <tr>
                    <th>차량번호</th>
                    <th>차종</th>
                    <th>고객명</th>
                    <th>입차 일시</th>
                    <th>분석 일시</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="container">
            <div class="vehicle-wrap">
                <h3 class="title"><span class="icon-vehicle"></span>분석 결과</h3>
                <div class="__vehicle-bg"></div>
                <div class="dent-table-box A">
                    <h4 class="title">A 좌측 <span class="icon-arrow"></span></h4>
                    <div class="table-round">
                        <table class="table table-dashed">
                            <thead>
                            <tr>
                                <th>구분</th>
                                <th>수량</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>덴트</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>스크래치</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>데미지</td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="dent-table-box B">
                    <h4 class="title">B 본넷 <span class="icon-arrow"></span></h4>
                    <div class="table-round">
                        <table class="table table-dashed">
                            <thead>
                            <tr>
                                <th>구분</th>
                                <th>수량</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>덴트</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>스크래치</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>데미지</td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="dent-table-box C">
                    <h4 class="title"><span class="icon-arrow"></span> C 우측</h4>
                    <div class="table-round">
                        <table class="table table-dashed">
                            <thead>
                            <tr>
                                <th>구분</th>
                                <th>수량</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>덴트</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>스크래치</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>데미지</td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="dent-table-box D">
                    <h4 class="title"><span class="icon-arrow"></span> D 트렁크<small>(테일 게이트)</small></h4>
                    <div class="table-round">
                        <table class="table table-dashed">
                            <thead>
                            <tr>
                                <th>구분</th>
                                <th>수량</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>덴트</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>스크래치</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>데미지</td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="dent-total">
                <h4 class="title-square primary">전체 덴트 수량</h4>
                <div class="table-round">
                    <table class="table table-dashed">
                        <colgroup>
                            <col width="25%">
                            <col width="25%">
                            <col width="25%">
                            <col width="25%">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>구분</th>
                            <td>덴트</td>
                            <td>스크래치</td>
                            <td>데미지</td>
                        </tr>
                        <tr>
                            <th>수량</th>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="other-matter">
                <h4 class="title-square">기타 사항</h4>
                <div class="table-round"></div>
            </div>
        </div>
        <div class="sign-form">
            <div class="container">
                <h5 class="title">차량 외관의 덴트 분석을 위한 영상 촬영에 동의합니다.</h5>
                <ul>
                    <li>• 본 영상은 차량의 덴트분석용으로만 사용됩니다.</li>
                    <li>• 본 영상은 사업소 내에서만 이용합니다.</li>
                    <li>• 본 영상의 최대 보간 기간은 30일이며, 이후 영구 삭제됩니다.</li>
                </ul>
            </div>
            <div class="sign-box">
                    <span class="__date">
                        <span></span>년
                        <span></span>월
                        <span></span>일
                    </span>
                <span>의뢰인(성명 및 서명)</span>
                <span class="text-right">(인)</span>
            </div>
        </div>
    </div>
</article>
