<!-- # 보고서 페이지 템플릿-->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>차량 Dent 분석 결과</title>
</head>
<body>
    <div class="container">
       <div class="main-pannel">
                    <h3 class="pannel-title">차향 덴트 분석 결과</h3>
                    <div class="pannel-content">
                        <ul class="summary-list">
                            <li class="summary-item">
                                <dl>
                                    <dt>차량 번호</dt>
                                    <dd>111가 1234</dd>
                                </dl>
                            </li>
                            <li class="summary-item">
                                <dl>
                                    <dt>입차 일시</dt>
                                    <dd>2024.10.21 / 15:00:30</dd>
                                </dl>
                            </li>
                            <li class="summary-item">
                                <dl>
                                    <dt>분석 일시</dt>
                                    <dd>2024.10.21 / 15:01:30</dd>
                                </dl>
                            </li>
                        </ul>
                        <div class="dent-total">
                            <h4 class="title">전체 덴트 수량</h4>
                            <table class="table">
                                <colgroup>
                                    <col width="25%">
                                    <col width="25%">
                                    <col width="25%">
                                    <col width="25%">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>구분</th>
                                        <td>덴트</td>
                                        <td>스크래치</td>
                                        <td>데미지</td>
                                    </tr>
                                    <tr>
                                        <th>수량</th>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <article class="vehicle-wrap">
                            <div class="__vehicle-bg"></div>
                            <div class="dent-table-box A">
                                <h4 class="title">A 좌측</h4>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>구분</th>
                                            <th>수량</th>
                                        </tr>
                                        <tr>
                                            <td>덴트</td>
                                            <td>1</td>
                                        </tr>
                                        <tr>
                                            <td>스크래치</td>
                                            <td>1</td>
                                        </tr>
                                        <tr>
                                            <td>데미지</td>
                                            <td>1</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="dent-table-box B">
                                <h4 class="title">B 본넷</h4>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>구분</th>
                                            <th>수량</th>
                                        </tr>
                                        <tr>
                                            <td>덴트</td>
                                            <td>1</td>
                                        </tr>
                                        <tr>
                                            <td>스크래치</td>
                                            <td>1</td>
                                        </tr>
                                        <tr>
                                            <td>데미지</td>
                                            <td>1</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="dent-table-box C">
                                <h4 class="title">C 우측</h4>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>구분</th>
                                            <th>수량</th>
                                        </tr>
                                        <tr>
                                            <td>덴트</td>
                                            <td>1</td>
                                        </tr>
                                        <tr>
                                            <td>스크래치</td>
                                            <td>1</td>
                                        </tr>
                                        <tr>
                                            <td>데미지</td>
                                            <td>1</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="dent-table-box D">
                                <h4 class="title">D 트렁크(테일 게이트)</h4>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>구분</th>
                                            <th>수량</th>
                                        </tr>
                                        <tr>
                                            <td>덴트</td>
                                            <td>1</td>
                                        </tr>
                                        <tr>
                                            <td>스크래치</td>
                                            <td>1</td>
                                        </tr>
                                        <tr>
                                            <td>데미지</td>
                                            <td>1</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </article>
                    </div>
                </div>
        </div>

        <!-- Agreement Section -->
        <div id="agreement">
            <table>
                <tr>
                    <th bgcolor="#D3D3D3">차량 외관의 dent 분석을 위한 영상 촬영에 동의합니다.</th>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>영상의 수집 목적은 dent 분석용으로만 사용합니다.</li>
                            <li>영상은 사업소 내에서만 이용합니다.</li>
                            <li>영상의 최대 보유 기간은 30일이며, 이후 영구 삭제됩니다.</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="flex-container">
                            <div>년</div>
                            <div>월</div>
                            <div>일</div>
                            <div class="signature">의뢰인(성명 및 서명)</div>
                            <div>________</div>
                            <div>인</div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>